<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/starter-template/">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">

</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Book store</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('category_list') }}">Categories</a></li>
                    <li><a href="{{ path('author_list') }}">Authors</a></li>
                    <li><a href="{{ path('book_list') }}">Books</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('add_book') }}">Add Book</a>
                            </li>
                            <li>
                                <a href="{{ path('add_author') }}">Add Author</a>
                            </li>
                            <li>
                                <a href="{{ path('add_category') }}">Add Category</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}



                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

    <div class="container">

        {% for flash in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flash }}</div>
        {% endfor %}


        {% block body %}{% endblock %}

    </div>


<script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/popper.min.js') }}"></script>

</body>


</html>
