{% extends '@App/layout.html.twig' %}

{% block body %}


  <div class="container mt-4">
    <div class="btn-group" role="group">
      <a href="#" class="btn btn-secondary">Customers</a>
      <a href="{{ path('transactions') }}" class="btn btn-primary">Transactions</a>
    </div>
    <hr>
    <h2>Transactions</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Customer</th>
          <th>User</th>
          <th>Product</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.customerId }}</td>
            <td>{{ transaction.user.email }}</td>
            <td>{{ transaction.product }}</td>
            <td>{{ transaction.amount / 100 }} {{ transaction.currency }}</td>
            <td>{{ transaction.createdAt|date("d.m.Y") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <p><a href="{{ path('payment') }}">Pay Page</a></p>
  </div>


{% endblock %}

