{% extends '@App/layout.html.twig' %}

{% block body %}




    <div class="container mt-4">
        <div class="btn-group" role="group">
            <a href="{{ path('subscriptions') }}" class="btn btn-secondary">Subscriptions</a>
            <a href="{{ path('transactions') }}" class="btn btn-primary">Transactions</a>
        </div>
        <hr>
        <h2>Subscriptions</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Subscription ID</th>
                <th>Customer</th>
                <th>User</th>
                <th>Product</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.subscriptionId }}</td>
                    <td>{{ subscription.customerId }}</td>
                    <td>{{ subscription.user.email }}</td>
                    <td>{{ subscription.product }}</td>
                    <td>{{ subscription.amount / 100 }} {{ subscription.currency }}</td>
                    <td>{{ subscription.status }}</td>
                    <td>{{ subscription.createdAt|date("d.m.Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <p><a href="{{ path('payment') }}">Pay Page</a></p>
    </div>


{% endblock %}

