{% extends '@App/layout.html.twig' %}

{% block title %}Book view{% endblock %}

{% block body %}

    <h1>{{ book.title }}</h1>

    <div><strong>Author:</strong> {{ book.author.name }} </div>
    <div><strong>Book genre:</strong> {{ book.category.name }}</div>
    <div><strong>Price:</strong> {{ book.price }}</div>
<hr>
    <p><strong>Description:</strong>
        <div>{{ book.description }}</div>
    </p>

    <p>
        <img src="{{ asset('bundles/app/images/' ~ book.image) }}" alt="{{ book.image }}" />
    </p>

{% endblock %}